<div class="page-using-xen">
  {% section 'heading-how-it-works' %}
  {% section 'easy-as-it-sounds-custom' %}
  {% section 'app-section' %}
  {% section 'text-image-how' %}
  {% section 'icons-text-full-width' %}
  {% section 'slider-section-left-how' %}
  {% section 'section-pricing' %}
</div>
