{% comment %}
  The contents of the page.gallery.liquid template can be found in /sections/page-gallery-template.liquid
{% endcomment %}

<div class="page-privacy-terms">
  <h1>{{ page.title }}</h1>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/get-xen">Xen</a>
    </li>
    <li>
      <a href="/accessories">Accessories</a>
    </li>
  </ul>
  <ul>
    <li style="font-style: italic;">How it works</li>
    <li>
      <a href="/using-xen">Using Xen</a>
    </li>
    <li>
      <a href="/the-science">The Science</a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/account">Account</a>
    </li>
    <li>
      <a href="/cart">Cart</a>
    </li>
    <li>
      <a href="/about-us">About us</a>
    </li>
    <li>
      <a href="/pages/team">Leadership & Advisers</a>
    </li>
    <li>
      <a href="/pages/contact">Contact Us</a>
    </li>
    <li>
      <a href="/blogs/blog">Blog</a>
    </li>
    <li>
      <a href="pages/carrers/">Careers</a>
    </li>
    <li>
      <a href="pages/affiliate">Affiliate</a>
    </li>
    <li>
      <a href="/blogs/news">In the news</a>
    </li>
    <li>
      <a href="pages/klarna">Klarna</a>
    </li>
    <li>
      <a href="/pages/terms-and-conditions">Terms and Conditions</a>
    </li>
    <li>
      <a href="pages/privacy">Privacy</a>
    </li>
    <li>
      <a href="pages/return-policy-and-warranty">Retrun Policy & Warranty</a>
    </li>
    <li>
      <a href="pages/sales-policy">Sales Policy</a>
    </li>
    <li>
      <a href="pages/faq">FAQs</a>
    </li>
  </ul>

  </ul>
</div>
