{% comment %}
  The contents of the page.team.liquid template can be found in /sections/page-team-template.liquid
{% endcomment %}

<div class="page-about">
  {% section 'page-about-heading' %}
  {% section 'page-about-text-dropdown' %}
  {% section 'text-image' %}
  {% section 'image-text-custom' %}
  {% section 'team' %}
</div>

