<div class="page-the-science">
  {% section 'page-custom-simple-heading' %}
  {% section 'section-text-video-accordion' %}
  {% section 'slider-section-left' %}
  {% section 'icons-full-width' %}
  {% section 'text-image-science' %}
  {% section 'text-image-slider' %}
  {% section 'research-section' %}
</div>
