{% comment %}
  The contents of the page.team.liquid template can be found in /sections/page-team-template.liquid
{% endcomment %}

<div class="page-about page-klarna">
  {% section 'klarna-header' %}
  {% section 'steps-section' %}
  {% section 'slider-section-left-klarna' %}
  {% section 'simple-text-sections' %}
  {% section 'about-klarna-section' %}
</div>

