<div class="page-using-xen">
  {% section 'page-custom-heading' %}
  {% section 'text-image-video' %}
  {% section 'using-xen' %}
  {% section 'benefits' %}
  {% section 'icons-full-width' %}
  {% section 'slider-section-left-using-xen' %}
</div>
