<div class="register">
  <div class="register__image" style="background-image: url('https://cdn.shopify.com/s/files/1/0083/9178/6551/files/img_login-resized.png?v=1608588943')">
      <div class="featured-section__image-influencer">
        Influencer Name
      </div>
  </div>
  <div class="register__form">
    {% section 'registration-form' %}
  </div>
</div>
