<div class="about-klarna">
  <div class="container">
    <div class="about-klarna__content">
      <h2>{{ section.settings.about_title }}</h2>
      <div class="section-divider"></div>
      <p>{{ section.settings.about_content }}</p>
    </div>
  </div>
</div>

{% schema %}

  {
  "name": "Page | About",
  "class": "page-about-klarna-section",
  "settings": [
  {
  "type": "text",
  "id": "about_title",
  "label": "About Title"
  },
  {
  "type": "html",
  "id": "about_content",
  "label": "Content"
  }
  ]
  }

{% endschema %}
