<div class="icons-content">
  <h2>{{ section.settings.section_title }}</h2>
  <div class="icons-content__logo-list" data-icons-text-slider>
    {% for block in section.blocks %}
      <div class="icons-content__logo-list-item">
        <img src="{{ block.settings.logo.src | image_url }}" />
        <h3>{{ block.settings.text }}</h3>
        <p>{{ block.settings.content }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}

  {
  "name": "Icons Full Width",
  "class": "icons-full-width",
  "settings": [
  {
  "type": "text",
  "id": "section_title",
  "label": "Section Title"
  }
  ],
  "blocks": [
  {
  "type":"slider_item",
  "name":"Slider Item",
  "settings":[
  {
  "type": "image_picker",
  "id": "logo",
  "label": "Image"
  },
  {
  "type": "text",
  "id": "text",
  "label": "Title"
  },
  {
  "type": "textarea",
  "id": "content",
  "label": "Content"
  }
  ]
  }
  ]
  }

{% endschema %}
