<div class="lp-benefits">
  <h2>{{ section.settings.title }}</h2>
  <div class="lp-benefits__items" data-team-members-slider>
    {% for block in section.blocks %}
      <figure class="lp-benefits__item">
        {% render 'image-element',
          image: block.settings.slide_background.src,
          alt: block.settings.slide_background.alt
        %}
        <figcaption class="team-member__overlay" style="background-color: rgba(28,31,42,0.75)">
          <div class="team-member__details">
            <p>{{ block.settings.slide_content }}</p>
          </div>
        </figcaption>
        <h3>{{ block.settings.slide_title }}</h3>
      </figure>
    {% endfor %}
  </div>
</div>

<div class="recommendations product-list">
  <h2>Accessories</h2>
  <div class="recommendations-list closed">
    {% assign product_collection = "accessories" %}

    {% for product in collections[product_collection].products limit: 7 %}
      {% if product.title == "Xen Convenience Bundle" %}
        {% assign convenience_bundle_product = product %}
        {% continue %}
      {% endif %}

      {% if forloop.last == true %}
        {% render 'product-thumbnail'
          product: convenience_bundle_product
          products_per_row: 3,
          collection_group_thumb: collection_group_thumb,
          collection_group_mobile: collection_group_mobile,
          sidebar: sidebar
        %}
      {% else %}
        {% render 'product-thumbnail'
          product: product,
          products_per_row: 3,
          collection_group_thumb: collection_group_thumb,
          collection_group_mobile: collection_group_mobile,
          sidebar: sidebar
        %}
      {% endif %}
    {% endfor %}
  </div>


  <div class="recommendations__show-more primary-btn">Load more</div>
</div>

{% schema %}

  {
  "name": "Landing Page Benefits",
  "class": "lp-benefits-wrapper",
  "settings": [
  {
  "type": "text",
  "id": "title",
  "label": "Title"
  }
  ],
  "blocks": [
  {
  "type": "slider_item",
  "name": "Landing Page Benefits",
  "settings": [
  {
  "type": "text",
  "id": "slide_title",
  "label": "Slide Title"
  },
  {
  "type": "html",
  "id": "slide_content",
  "label": "Slide Content"
  },
  {
  "type": "image_picker",
  "id": "slide_background",
  "label": "Slide Background Image"
  }
  ]
  }
  ]
  }

{% endschema %}
