<div class="lp-text-background" style="background-image: url('{{ section.settings.background_image.src | image_url }}')">
  <div class="container">
    <div class="lp-text-background__box">
      <h2>{{ section.settings.title }}</h2>
      <p>{{ section.settings.content }}</p>
    </div>
  </div>
</div>

{% schema %}

  {
  "name": "LP Text Background",
  "class": "lp-text-background-wrapper",
  "settings": [
  {
  "type": "text",
  "id": "title",
  "label": "Title"
  },
  {
  "type": "textarea",
  "id": "content",
  "label": "Content"
  },
  {
  "type": "image_picker",
  "id": "background_image",
  "label": "Background Image"
  }
  ]
  }

{% endschema %}
