<a name="pagecontent" id="pagecontent"></a>

<div class="careers-content container" style="margin: 80px 15px;">
  {{ section.settings.content }}
</div>

{% schema %}

  {
  "name": "Page | Careers Content",
  "class": "page-about-heading-section",
  "settings": [
  {
  "type": "html",
  "id": "content",
  "label": "Careers Content"
  }
  ]
  }

{% endschema %}
