{% comment %}
  The contents of the page.team.liquid template can be found in /sections/page-team-template.liquid
{% endcomment %}

<div class="page-careers">
  {% section 'page-careers-heading' %}
  {% section 'page-careers-content' %}
</div>

