<div class="text-image">
  <div class="text-image__content">
    <h2>{{ section.settings.section_title }}</h2>

    <div class="page-about__dropdown">
      <div class="visible-text">{{ section.settings.visible_text }}</div>

      {% if section.settings.full_text != empty %}
        <div class="full-text" style="display: none;">{{ section.settings.full_text }}</div>
        <a class="secondary-btn show-more">More <div class="icon-arrow-down"></div></a>
        <a class="secondary-btn show-less" style="display: none;">Less <div class="icon-arrow-up"></div></a>
      {% endif %}
    </div>
  </div>
  <div class="text-image__image" style="background-image:url('{{ section.settings.background_image.src | image_url }}')"></div>
</div>

{% schema %}

  {
  "name": "Page | Text Image",
  "class": "page-about-mission-section",
  "settings": [
  {
  "type": "text",
  "id": "section_title",
  "label": "Section Title"
  },
  {
  "type": "textarea",
  "id": "visible_text",
  "label": "Dropdown Visible Text"
  },
  {
  "type": "textarea",
  "id": "full_text",
  "label": "Dropdown Full Text"
  },
  {
  "type": "image_picker",
  "id": "background_image",
  "label": "Background Image"
  }
  ]
  }

{% endschema %}
